.airfreight_bills {
  .section_header {
    font-family: "  font-family: " Urbanist ", sans-serif;", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #0052ba;
  }
  .title {
    font-family: "  font-family: " Urbanist ", sans-serif;", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #e76a00;
  }
  .totaltext {
    font-family: "  font-family: " Urbanist ", sans-serif;", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
}
