.detailed_modal_heading {
  font-family: Urbanist;
  font-size: 16px;
  color: #444444;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.detailed_modal_content {
  font-family: Urbanist;
  font-size: 16px;
  color: #444444;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.table_headings {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}
.packing_main_button_set {
  background-color: #003476;
  border-radius: 8px;
  padding: 20px 70px 20px 20px;
  @media (max-width: 768px) {
    padding: 20px 20px 20px 20px;
  }
}
.select_styles {
  background-color: white;
  border-radius: 5px;
  width: 98%;
}
.search_button {
  background-color: #e76a00;
}
.search_text {
  font-family: Urbanist;
  font-size: 16px;
}
.search_padding {
  @media (max-width: 768px) {
    padding-left: 15px;
  }
}
.completed_dot {
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: #f8a838;
  border-radius: 50%;
  color: white;
  display: inline-block;
}
.pending_dot {
  border: 2px solid #f8a838;
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  color: #f8a838;
  font-family: Urbanist;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}
.step_line {
  margin-top: 12px;
  height: 1.5px;
  width: 250px;
  background-color: #afc4c0;
}
.step_line_active {
  margin-top: 12px;
  height: 1.5px;
  width: 250px;
  background-color: #353131;
}
.heading_spaces {
  margin-top: 12px;
  height: 1.5px;
  width: 150px;
  background-color: #ffffff;
}
.heading_spaces_last {
  margin-top: 12px;
  height: 1.5px;
  width: 190px;
  background-color: #ffffff;
}
.heading_colors {
  color: #003f3a;
  font-weight: 400;
  font-size: 16px;
  font-family: Urbanist;
}
.heading_colors_active {
  color: #353131;
  font-size: 16px;
  font-weight: 600;
  font-family: Urbanist;
}
.shipment_create_header {
  font-family: Urbanist;
  font-size: 25px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #003476;
}
