.detailed_modal_heading {
  font-family: Urbanist;
  font-size: 16px;
  color: #444444;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.detailed_modal_content {
  font-family: Urbanist;
  font-size: 16px;
  color: #444444;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.table_headings {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}
.packing_main_button_set {
  background-color: #003476;
  border-radius: 8px;
  padding: 20px 70px 20px 20px;
  @media (max-width: 768px) {
    padding: 20px 20px 20px 20px;
  }
}
.select_styles {
  background-color: white;
  border-radius: 5px;
  width: 98%;
}
.search_button {
  background-color: #e76a00;
}
.search_text {
  font-family: Urbanist;
  font-size: 16px;
}
.search_padding {
  @media (max-width: 768px) {
    padding-left: 15px;
  }
}
